<table>
    <tbody>
        <tr>
            <td align="right">Responsable {{ entity.responsable }}</td>
        </tr>
        <tr>
            <td align="right">{{ entity.fecha|date('d-m-Y') }}</td>
        </tr>
        <tr>
            <td>Total de Ingresos: ${{ entity.ingresos }}</td>
        </tr>
        
    </tbody>
</table>
<table>
<tr>
            <td>Pagos en Efectivo:</td>
        </tr>
        </table>
<br>
<table class="table-bordered">
    <tbody>
        <tr>
            <td class="th">Nro de Factura</td>
            <td class="th">Monto</td>            
        </tr>
        
        <tr>
            <td>hola</td>
            <td>chau</td>            
        </tr>
    </tbody>

<br>
